* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #274001; /* Background color */
}

/* All navigation links */
nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: white; /* Default link text color */
  background-color: #365902; /* Background color for links */
}

/* Styling for active/current page link */
nav a[aria-current='page'] {
  color: black; /* Color for active link text */
  background-color: #d4d4d4; /* Background color for active link */
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
#colorSelect option {
  padding-left: 20px; /* Add space for the colored square */
  background-repeat: no-repeat;
  background-size: 16px 16px; /* Set the size of the colored square */
  background-position: 2px center; /* Position the colored square */
}

/* Define background color for each option */
#colorSelect option[value="#9FDDFF"] {
  background-color: #9FDDFF;
}

#colorSelect option[value="#A5FF9D"] {
  background-color: #A5FF9D;
}

#colorSelect option[value="#C49FFF"] {
  background-color: #C49FFF;
}

#colorSelect option[value="#FF9D9D"] {
  background-color: #FF9D9D;
}

#colorSelect option[value="#FFC09D"] {
  background-color: #FFC09D;
}

#colorSelect option[value="#FFE49F"] {
  background-color: #FFE49F;
}
/* Style the table div on current*/
.table-container {
  overflow: hidden; /* Ensure table corners are rounded */
  margin-top: 20px;
}

/* Table styles on current independent from the div */
#finance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px; /* Rounded corners for the whole table */
  overflow: hidden; /* Ensure table corners are rounded */
}

/* Table cell styles */
#finance-table th,
#finance-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Table head styles */
#finance-table th {
  background-color: #274001;
  color: white;
}

/*login button color*/
.log {
  color: white;
  background-color: #365902;
  border: none;
  border-radius: 5px; /* Adjust the border-radius as desired */
  padding: 8px 20px;
  cursor: pointer;
  text-align: center; /* Center text horizontally */
  line-height: 21px; /* Adjust line-height to vertically center text */
}

/* Remove hover effect */
.log:hover {
  background-color: #365902; /* Same as initial color to prevent hover effect */
}